@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f7f8f9;
}

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.container .imagesWrap .images {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.container .imagesWrap .images .imagetag {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    display: inline-block;
}

@media only screen and (max-width:990px) {
    .container {
        width: 100%;
        padding: 0;
    }
}